.discount-line, .product .discount {
    background: #000!important; /* #c50000 */ /* Cor de fundo do desconto */
 }
 
 .product .seal.featured {
   /*background-color: #b65169!important;*/ /* Cor de fundo da Tag */
   /* background-color: #c50000!important; */ /* Cor de fundo tag vermelho */
   /*background-color: #8e7db1!important;*/ /* Cor de fundo tag eudora */
   background-color: #000!important; /* Cor de fundo tag preto */
 }
 
 .fita_topo {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 20px;
   z-index: 10;
   background-color: #000!important;
   /* background-color: #b65169!important; */ /* cor da logo */
   /* background-color: #8e7db1!important; */ /* Cor de fundo tag eudora */
   color: #FFF;
   text-align: center;
   font-size: 11px;
   padding: 3px 0 0 0;
   box-shadow: 5px 1px 10px #00000047;
 }
 
 .atras_fita_topo {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 20px;
   z-index: 9;
   background-color: #fff7f5;
 }
 
 .header {
   top: 20px!important;
 }
 
 /* LAYOUT SETAS DO MENU */
 .list-nav>li a.sub .ico {
    fill: #ec6585; 
 }
 
 @media (max-width: 1007px){
   .position-header .banner-full {
     padding-top: 132px;
   }
 }
 @media (min-width: 1008px){
   .position-header .banner-full {
     padding-top: 20px;
   }
 }
 
 /* LAYOUT BANNER EXTRA2 E 3 DA HOME */
 @media (max-width: 480px) {
   .section-banners-center .item {
     padding: 0px!important;
   }
 }
 .link_bloco_destaques {
    font-size: 0.8rem;
   color: #da7789; 
 }